body{
	background-color: #ffffb3;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

h1{
	background-color: #000000;
	color: #ff1a1a;
	text-align: center;
}

h2{
	color: #269900;
}

h3{
	color: #b300b3;
}
p{
	color: red;
}
ul{
	color:#cc7a00;
}

ol{
	color: green;
}

img{
	border: 3px
	solid black;
}